body {
	font-family   : Sans-serif;
}

h1 {
	margin        : 0 auto 0 auto;
	text-align    : center;
}

#hello {
	margin         : 0 auto 0 auto;
	text-align     : center;
}

#signin {
	margin         : 1em auto 1em auto;
}

h2 {
	margin        : 0 auto 1em auto;
	font-weight   : bold;
	font-size     : 100%;
}

button {
	width         : auto;
	height        : auto;
}

#message {
	margin         : 1em auto 0 auto;
	padding        : 0.5em 0 0 0;
	text-align     : center;
	border-top     : dotted 1px;
	font-style     : italic;
}

#content {
	margin         : 1em auto 0 auto;
	border-top     : dotted 1px;
	border-bottom  : dotted 1px;
	text-align     : center;
	width          : 100%;
}

#log {
	margin         : 1em 0  0 0;
	border-top     : dotted 1px;
	border-bottom  : dotted 1px;
	width          : 100%;
	white-space    : pre;
}


